LicensingClient/Service References/LicensingService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TupleOfbooleanbooleanbooleanintboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{2}{3}{4}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:boolean" />
      <xs:element name="m_Item2" type="xs:boolean" />
      <xs:element name="m_Item3" type="xs:boolean" />
      <xs:element name="m_Item4" type="xs:int" />
      <xs:element name="m_Item5" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfbooleanbooleanbooleanintboolean" nillable="true" type="tns:TupleOfbooleanbooleanbooleanintboolean" />
</xs:schema>