LicensingClient/Service References/LicensingService/LicensingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LicensingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LicensingService_WCFLogout_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFLogout" />
  </wsdl:message>
  <wsdl:message name="LicensingService_WCFLogout_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFLogoutResponse" />
  </wsdl:message>
  <wsdl:message name="LicensingService_WCFLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFLogin" />
  </wsdl:message>
  <wsdl:message name="LicensingService_WCFLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFLoginResponse" />
  </wsdl:message>
  <wsdl:message name="LicensingService_WCFChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFChangePassword" />
  </wsdl:message>
  <wsdl:message name="LicensingService_WCFChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="LicensingService_WCFChangeEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFChangeEmail" />
  </wsdl:message>
  <wsdl:message name="LicensingService_WCFChangeEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFChangeEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="LicensingService">
    <wsdl:operation name="WCFLogout">
      <wsdl:input wsaw:Action="http://tempuri.org/LicensingService/WCFLogout" message="tns:LicensingService_WCFLogout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LicensingService/WCFLogoutResponse" message="tns:LicensingService_WCFLogout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/LicensingService/WCFLogin" message="tns:LicensingService_WCFLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LicensingService/WCFLoginResponse" message="tns:LicensingService_WCFLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/LicensingService/WCFChangePassword" message="tns:LicensingService_WCFChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LicensingService/WCFChangePasswordResponse" message="tns:LicensingService_WCFChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFChangeEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/LicensingService/WCFChangeEmail" message="tns:LicensingService_WCFChangeEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/LicensingService/WCFChangeEmailResponse" message="tns:LicensingService_WCFChangeEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_LicensingService" type="tns:LicensingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WCFLogout">
      <soap:operation soapAction="http://tempuri.org/LicensingService/WCFLogout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFLogin">
      <soap:operation soapAction="http://tempuri.org/LicensingService/WCFLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFChangePassword">
      <soap:operation soapAction="http://tempuri.org/LicensingService/WCFChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFChangeEmail">
      <soap:operation soapAction="http://tempuri.org/LicensingService/WCFChangeEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LicensingService">
    <wsdl:port name="BasicHttpBinding_LicensingService" binding="tns:BasicHttpBinding_LicensingService">
      <soap:address location="http://localhost:8080/LicensingService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>